<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <appender name="FileAppender" type="log4net.Appender.RollingFileAppender">
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <file type="log4net.Util.PatternString" value="Logs/logfile.log" />
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="10" />
    <maximumFileSize value="10MB" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
    </layout>
  </appender>
  <appender name="ErrorWarnAppender" type="log4net.Appender.RollingFileAppender">
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <file type="log4net.Util.PatternString" value="Logs/logfile.log" />
    <appendToFile value="true" />
    <filter type="log4net.Filter.LevelMatchFilter">
      <levelToMatch value="WARN" />
    </filter>
    <filter type="log4net.Filter.DenyAllFilter" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%newline%newline%date %-5level [%thread] %logger - %message%newline" />
    </layout>
  </appender>
  <appender name="StreamReportAppender" type="log4net.Appender.RollingFileAppender">
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <file type="log4net.Util.PatternString" value="Logs/connection-tracking.log" />
    <appendToFile value="true" />
    <filter type="log4net.Filter.LoggerMatchFilter">
      <acceptOnMatch value="true" />
      <loggerToMatch value="ToRefactor.ConnectionTrackingLogger" />
    </filter>
    <filter type="log4net.Filter.DenyAllFilter" />
    <filter type="log4net.Filter.DenyAllFilter" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%newline%newline%date %-5level [%thread] %logger - %message%newline" />
    </layout>
  </appender>
  <root>
    <level value="TRACE" />
    <appender-ref ref="FileAppender" />
    <appender-ref ref="ErrorWarnAppender" />
    <appender-ref ref="StreamReportAppender" />
  </root>
</log4net>